# dependencies
node_modules/
.pnpm-store/
.pnpm-cache/
.pnpm-state/
.pnpm-bin/
.pnpm-global/
.config/

# build
.next/
dist/
build/
coverage/
.turbo/

# local env / secrets
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.DS_Store
.idea/
.vscode/

# local data
.local-data/
postgres-data/
minio-data/

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# local dev logs
*.log
.vercel
.env*
